<!DOCTYPE html>
<html>
<head>
    <!-- meta -->
    <meta charset="utf-8" />
    <meta name='description' content='ERP系统'>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="基于Web的ERP系统" />
    <meta name="referrer" content="always">
    <link rel="icon" href="" type="image/x-icon" />

    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="lib/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/main.css">
  <title>
    登录界面
  </title>

   <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>

</head>
<body>
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">
        Log-in to ERP SYSTEM
      </div>
    </h2>
    <% if(typeof(error) !== 'undefined') { %>
    <div class="ui negative message">
      <i class="close icon"></i>
      <div class="header"><%= error %> </div></div>
    <% } %>
    <form class="ui large form" action="/login" method="post">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text"  placeholder="Username" id="loginname" name="loginname">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" placeholder="Password" id="password" name="password">
          </div>
        </div>
        <button class="positive large ui button" type="submit">Login</button>
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      New to us? <a href="/signup">Sign Up</a>
    </div>
  </div>
</div>

<script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'email',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your e-mail'
                },
                {
                  type   : 'email',
                  prompt : 'Please enter a valid e-mail'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[6]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            }
          }
        })
      ;
    })
  ;
  </script>
</body>
</html>



