<% layout('layout') -%>

<div class="content">
	
	<form>
		<div class="ui form">
			<div class="field">
				<label>单据号码</label>
	        	  <input type="text" id="billId" name="billId" value="57371d570133fb7c1be6722c">
			</div>
			<div class="field">
				<label>物料编号</label>
	        	  <input type="text" id="matId" name="matId" value="D3344">
			</div>
			<div class="field">
				<label>物料名称</label>
	        	  <input type="text" id="matName" name="matName" value="衣服">
			</div>
			<div class="field">
				<label>型号规格</label>
	        	  <input type="text" id="matSpec" name="matSpec" value="M">
			</div>
			<div class="field">
				<label>单位</label>
	        	<input type="text" id="matunit" name="matUnit" value="">
			</div>
			<div class="field">
				<label>数量</label>
	        	<input type="text" id="number" name="number" value="900">
			</div>
			<div class="field">
				<label>备注</label>
	        	<input type="text" id="cliId" name="cliId" value="">
			</div>

			<a class="ui button large" href="/sale">返回 </a>

		</div>
	</form>
</div>

