#footer {
	position: relative;
	width: 100%;
	bottom:0;
	margin-bottom:0;
}

.ui.special.cards {
	width: 40%;
	float: left;
}

#message-box {
	margin-left:158px;
	height: 333px;

}

.message-box {
	width: 100%;
}
