#footer {
	position: relative;
	width: 100%;
	bottom:0;
	margin-bottom:0;
}

body {
	margin-top: 30px;
}

.ui.special.cards {
	width: 50%;
	height: 40%;
}

#message-box {
	width: 57%;
	margin-left: -5%;
}

.message-box {
	width: 100%;
}