<% layout('layout') -%>
			
			<!-- 个人信息 -->

			<div class="ui special cards">
			  <div class="card">
			    <div class="blurring dimmable image">
			      <div class="ui dimmer">
			        <div class="content">
			          <div class="center">
			          	<a href="editAvatar"><div class="ui inverted button">Edit Profile</div></a>
			          </div>
			        </div>
			      </div>
			      <img src="/image/avatar/<%= current_user.loginname %>.png">
			    </div>
			    <div class="content">
			      <a class="header" href="editUser"><%= current_user.name %></a>
			      <div class="meta">
			        <%= current_user.email %>
			      </div>
			    </div>
			    <div class="extra content">
			      <a href="editUser">
			        <i class="users icon"></i>
			        职位：<%= current_user.department %> <%= current_user.position %>
			      </a>
			    </div>
			  </div>
			</div>
		<div id="message-box">
			<!-- 告警消息 新功能提示 -->

			<div class="ui success message">
			  <i class="close icon"></i>
			  <div class="header">产品价格变动！ </div>
			  <p>XX产品变动，周知！</p>
			</div>

			<div class="ui negative message">
			  <i class="close icon"></i>
			  <div class="header">告警：销售量告警！ </div>
			  <p>1天内下降10%！ </p></div>

			<div class="ui icon message">
			  <i class="close icon"></i>
			  <div class="content">
			    <div class="header">新功能上线：邮件列表！ </div>
			    <p>邮件列表能使您第一时间得到需要审批的内容。</p>
			  </div>
			</div>

		</div>

						<!-- 站内消息 -->

			<div class="ui celled list message-box">
			  <div class="item">
			    <img class="ui avatar image" src="/image/avatar/helen.jpg">
			    <div class="content">
			      <div class="header">Snickerdoodle</div>1条请假单</div>
	        <div class="right floated content">
		      <div class="ui button">查看</div>
		    </div>	
			  </div>
			  <div class="item">
			    <img class="ui avatar image" src="/image/avatar/daniel.jpg">
			    <div class="content">
			      <div class="header">Poodle</div>2条告警信息</div>
			          <div class="right floated content">
		      <div class="ui button">查看</div>
		    </div>	
			  </div>
			  <div class="item">
			    <img class="ui avatar image" src="/image/avatar/elyse.png">
			    <div class="content">
			      <div class="header">Paulo</div>1条请假单</div>
			          <div class="right floated content">
		      <div class="ui button">查看</div>
		    </div>	
			  </div>
			</div>

<div class="ui container"><h3 class="ui center aligned header">业界新闻</h3>
  <div class="ui relaxed divided items">
    <div class="item">
      <div class="ui small image">
        <img src="http://a.36krcnd.com/nil_class/ddaadd12-3196-4686-a295-2ccf32bd763b/4444.jpg!heading">
      </div>
      <div class="content">
        <a class="header">证监会否认叫停跨界定增，VR创业者们是不是高兴太早了？</a>
        <div class="meta">
          <a>1小时前</a>
        </div>
        <div class="description">
          我们是否有点高兴的太早了？
        </div>
        <div class="extra">
          <div class="ui right floated primary button">
            查看
            <i class="right chevron icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ui small image">
        <img src="http://c.36krcnd.com/nil_class/2e15d272-2a12-42bb-91d6-148182e5c731/__.PNG!feature">
      </div>
      <div class="content">
        <a class="header">微软不再为 Project Spark 提供支持，8月份将终止其在线服务</a>
        <div class="meta">
          <a>21小时前</a>
        </div>
        <div class="description">
          微软在游戏行业的投入高达996亿美元，它想使投资回报率最大化，关停这款游戏只是其中一步。
        </div>
        <div class="extra">
          <div class="ui right floated primary button">
            查看
            <i class="right chevron icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ui small image">
        <img src="http://b.36krcnd.com/nil_class/e1e4b1a6-778a-4c34-905e-c3651319adaf/Amit-Singh-Web-Summit-Flickr-930x607.jpg!feature">
      </div>
      <div class="content">
        <a class="header">逾2千万日活、15亿日均消息量的融云即时通讯云是如何炼成的</a>
        <div class="meta">
          <a>3天前</a>
        </div>
        <div class="description">
          做了十年IM，融云即时通讯云不只是稳定、海量并发的代名词。看融云如何诠释工匠精神！
        </div>
        <div class="extra">
          <div class="ui right floated primary button">
            查看
            <i class="right chevron icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>