<h1 class="ui dividing header">Home Page</h1>
<h3 class="first">Hi, <%- current_user %></h3>
<p>A container is a fixed width element that wraps your site's content. It remains a constant size and uses <b>margin</b> to center. Containers are the simplest way to center page content inside a grid.
</p>

	<div class="ui grid">
		<div class="four wide column">
			<!-- 个人信息 -->

			<div class="ui special cards">
			  <div class="card">
			    <div class="blurring dimmable image">
			      <div class="ui dimmer">
			        <div class="content">
			          <div class="center">
			            <div class="ui inverted button">Edit Profile</div>
			          </div>
			        </div>
			      </div>
			      <img src="/image/avatar/rachel.png">
			    </div>
			    <div class="content">
			      <a class="header">Sheila Dai</a>
			      <div class="meta">
			        <span class="date">上次登录：2016-04-11 14:49</span>
			      </div>
			    </div>
			    <div class="extra content">
			      <a>
			        <i class="users icon"></i>
			        职位：总经理
			        系统身份：超级管理员
			      </a>
			    </div>
			  </div>
			</div>



		</div>
		<div class="eight wide column" id="message-box">
			<!-- 告警消息 新功能提示 -->
			<div class="ui message">
			  <i class="close icon"></i>
			  <div class="header">欢迎回来！ </div>
			  <p>如果你觉得厌烦，这个特别的通知可以关闭。</p>
			</div>

			<div class="ui success message">
			  <i class="close icon"></i>
			  <div class="header">你的用户注册已成功。 </div>
			  <p>现在你可以用你选择的用户名登录了</p>
			</div>

			<div class="ui success message">
			  <i class="close icon"></i>
			  <div class="header">产品价格变动！ </div>
			  <p>XX产品变动，周知！</p>
			</div>

			<div class="ui negative message">
			  <i class="close icon"></i>
			  <div class="header">告警：销售量告警！ </div>
			  <p>1天内下降10%！ </p></div>

			<div class="ui icon message">
			  <i class="close icon"></i>
			  <i class="inbox icon"></i>
			  <div class="content">
			    <div class="header">新功能上线：邮件列表！ </div>
			    <p>邮件列表能使您第一时间得到需要审批的内容。</p>
			  </div>
			</div>

			<!-- 站内消息 -->

			<div class="ui celled list">
			  <div class="item">
			    <img class="ui avatar image" src="/images/avatar/helen.png">
			    <div class="content">
			      <div class="header">Snickerdoodle</div>1条请假单待审批</div>
	        <div class="right floated content">
		      <div class="ui button">查看</div>
		    </div>	
			  </div>
			  <div class="item">
			    <img class="ui avatar image" src="/images/avatar/daniel.jpg">
			    <div class="content">
			      <div class="header">Poodle</div>2条告警信息</div>
			          <div class="right floated content">
		      <div class="ui button">查看</div>
		    </div>	
			  </div>
			  <div class="item">
			    <img class="ui avatar image" src="/images/avatar/daniel.jpg">
			    <div class="content">
			      <div class="header">Paulo</div>1条请假单待审批</div>
			          <div class="right floated content">
		      <div class="ui button">查看</div>
		    </div>	
			  </div>
			</div>

		</div>
	</div>

<div class="ui items">
  <div class="item">
    <div class="ui small image">
      <img src="/image/image.png">
    </div>
    <div class="content">
      <div class="header">箭头谷露营</div>
      <div class="meta">
        <span class="price">1200 美元</span>
        <span class="stay">1 个月</span>
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui small image">
      <img src="/image/image.png">
    </div>
    <div class="content">
      <div class="header">Buck's Homebrew Stayaway</div>
      <div class="meta">
        <span class="price">1000 美元</span>
        <span class="stay">2 周</span>
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui small image">
      <img src="/image/image.png">
    </div>
    <div class="content">
      <div class="header">Astrology Camp</div>
      <div class="meta">
        <span class="price">1600 美元</span>
        <span class="stay">6 周</span>
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>
</div>