<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- meta -->
    <meta charset="utf-8" />
    <meta name='description' content='ERP系统'>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="基于Web的ERP系统" />
    <meta name="referrer" content="always">
    <link rel="icon" href="image/logo.png" type="image/x-icon" />
    <title>ERP</title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="lib/semantic/semantic.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/main.css">
</head>

<body>
    <!-- 顶部菜单栏 -->
    <div class="ui menu fixed" id="top-nav">
        <div class="ui container">
            <a href="javascript:void()" class="header item sidebarbtn">
                <img class="logo" src="image/logo.png"><i class="icon"></i>ERP SYSTEM
            </a>
            <div class="right menu">
              <div class="ui simple dropdown item">
                <i class="user icon"></i><%= current_user.loginname %> <i class="dropdown icon"></i>
                  <div class="menu">
                      <a class="item" href="/">返回首页</a>
                      <a class="item" href="/editUser">修改信息</a>
                      <a class="item" href="/editUserPass">修改密码</a>
                      <a class="item" href="/editAvatar">修改头像</a>
                      <div class="divider"></div>
                    <div class="item">
                        <i class="dropdown icon"></i>站内信
                        <div class="menu">
                            <a class="item" href="#">收件箱</a>
                            <a class="item" href="#">发件箱</a>
                        </div>
                    </div>
                      <a class="item" href="/signout">登出</a>
                  </div>
              </div>
            </div>

        </div>
    </div>


    <div class="ui" id="container" style="margin-top: 60px;">
    <div class="ui left demo vertical inverted sidebar labeled icon menu">
             <% if(current_user.user_management) { %>
                <div class="item ui fluid accordion">
                    <div class="title"><i class="users icon inverted big"></i><h5 class="ui inverted header" style="margin-top: 10px;">用户管理</h5></div>
                    <div class="menu content">
                        <a class="item" href="/users">用户信息管理</a>
                    </div>
                </div>
                <% } %>
                <% if(current_user.sale_management) { %>
                <div class="item ui accordion">
                    <div class="title"><i class="icon line chart inverted big"></i><h5 class="ui inverted header" style="margin-top: 10px;">销售管理</h5></div>
                    <div class="menu content">
                        <a class="item" href="/sale">销售管理</a>
                    </div>
                </div>
                <% } %>
                <% if(current_user.purchase_management) { %>
                <div class="item ui accordion">
                    <div class="title"><i class="icon in cart inverted big"></i><h5 class="ui inverted header" style="margin-top: 10px;">采购管理</h5></div>
                    <div class="menu content">
                        <a class="item" href="/stockApply">采购请购单</a>
                        <a class="item" href="/stockOrder">采购订单</a>
                    </div>
                </div>
                <% } %>
                <% if(current_user.warehouse_management) { %>
                <div class="item ui accordion">
                  <div class="title"><i class="icon cubes inverted big"></i><h5 class="ui inverted header" style="margin-top: 10px;">仓库管理</h5></div>
                    <div class="menu content">
                        <a class="item" href="/checked">盘点</a>
                        <a class="item" href="/outmain">出库</a>
                        <a class="item" href="/come">入库</a>
                    </div>
                </div>
                <% } %>
               <!--  <div class="item ui accordion">
                  <div class="title"><i class="icon dashboard inverted big"></i><h5 class="ui inverted header" style="margin-top: 10px;">Dashboard</h5></div>
                    <div class="menu content">
                        <a class="item">产品销售信息</a>
                        <a class="item">产品库存信息</a>
                        <a class="item">账面资金</a>
                        <a class="item">市场份额</a>
                    </div>
                </div> -->
                
                <!-- 
                <div class="item ui accordion">
                    <div class="title"><i class="icon tasks inverted big"></i><h5 class="ui inverted header" style="margin-top: 10px;">任务下达</h5></div>
                    <div class="menu content">
                        <a class="item">任务列表</a>
                    </div>
                </div>
                <div class="item ui accordion">
                    <div class="title"><i class="icon warning circle inverted big"></i><h5 class="ui inverted header" style="margin-top: 10px;">告警服务</h5></div>
                  <div class="menu content">
                        <a class="item">查看告警</a>
                    </div>
                </div> -->
                <% if(current_user.user_management) { %>
                <div class="item ui fluid accordion">
                    <div class="title"><i class="users icon inverted big"></i><h5 class="ui inverted header" style="margin-top: 10px;">日志管理</h5></div>
                    <div class="menu content">
                        <a class="item" href="logger">日志管理</a>
                    </div>
                </div>
                <% } %>
    </div>




          <%- body %>

    </div>
    </div>
    <!-- javascript -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/semantic/semantic.min.js"></script>
    <script src="javascript/main.js"></script>

<script>
  $(document)
    .ready(function() {
      $('.ui.dropdown').dropdown();

      $('.ui.buttons .dropdown.button').dropdown({
        action: 'combo'
      });
    })
  ;

  $('.sidebarbtn').on('click', function() {
    $('.ui.labeled.icon.sidebar')
      .sidebar('toggle')
    ;
  });

$('.ui.accordion')
  .accordion()
;

  </script>

 <%- block('userlist').toString() %>
 <%- block('loglist').toString() %>
 <%- block('sale').toString() %>
 <%- block('editDetail').toString() %>
 <%- block('addSellOrder').toString() %>

</body>

</html>
