<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- meta -->
    <meta charset="utf-8" />
    <meta name='description' content='ERP系统'>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="基于Web的ERP系统" />
    <meta name="referrer" content="always">
    <link rel="icon" href="" type="image/x-icon" />
    <title>ERP</title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="lib/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/main.css">
</head>

<body>
    <!-- 顶部菜单栏 -->
    <div class="ui menu fixed" id="top-nav">
        <div class="ui container">
            <a href="/" class="header item">
                <img class="logo" src="image/logo.png"><i class="icon"></i>ERP SYSTEM
            </a>
            <div class="right menu">
              <a href="/" class="item"><i class="home icon"></i>主页</a>
              <div class="ui simple dropdown item">
                <i class="user icon"></i>我的 <i class="dropdown icon"></i>
                  <div class="menu">
                      <a class="item" href="/editUser">修改信息</a>
                      <a class="item" href="/editUserPass">修改密码</a>
                      <div class="divider"></div>
                    <div class="item">
                        <i class="dropdown icon"></i>站内信
                        <div class="menu">
                            <a class="item" href="#">收件箱</a>
                            <a class="item" href="#">发件箱</a>
                        </div>
                    </div>
                      <a class="item" href="/signout">登出</a>
                  </div>
              </div>
            </div>

        </div>
    </div>
    <div class="ui grid" id="container">
        <div class="four wide column">
            <!-- 左侧菜单栏 -->
            <div class="ui left vertical menu " id="left-nav">
                <div class="item">
                    <div class="header"><i class="users icon"></i>用户管理</div>
                    <div class="menu">
                        <a class="item">用户权限管理</a>
                        <a class="item">用户身份管理</a>
                    </div>
                </div>
                <div class="item">
                  <div class="header"><i class="icon dashboard"></i>Dashboard</div>
                    <div class="menu">
                        <a class="item">产品销售信息</a>
                        <a class="item">产品库存信息</a>
                        <a class="item">账面资金</a>
                        <a class="item">市场份额</a>
                    </div>
                </div>
                <div class="item">
                <div class="header"><i class="icon in cart"></i>采购管理</div>
                    <div class="menu">
                        <a class="item">Rails</a>
                        <a class="item">Python</a>
                        <a class="item">PHP</a>
                    </div>
                </div>
                <div class="item">
                  <div class="header"><i class="icon cubes"></i>仓库管理</div>
                    <div class="menu">
                        <a class="item">已分享</a>
                        <a class="item">专用的</a>
                    </div>
                </div>
                <div class="item">
                <div class="header"><i class="icon line chart"></i>销售管理</div>
                    <div class="menu">
                        <a class="item">E-mail Support</a>
                        <a class="item">问答</a>
                    </div>
                </div>
                <div class="item">
                <div class="header"><i class="icon tasks"></i>任务下达</div>
                  <div class="menu">
                        <a class="item">任务列表</a>
                    </div>
                </div>
                <div class="item">
                <div class="header"><i class="icon warning circle"></i>告警服务</div>
                  <div class="menu">
                        <a class="item">查看告警</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="twelve wide column">
          <div id="content">
              <%- body %>
          </div>
        </div>
    </div>
    </div>
    <!-- 底部footer -->
    <div class="ui inverted footer segment" id="footer">
        <div class="ui center aligned container">
            <div class="ui horizontal inverted small divided link list">
                <a class="item" href="#">Contact Us</a>
                <a class="item" href="#">Terms and Conditions</a>
                <a class="item" href="#">Privacy Policy</a>
                <a class="item" href="#">About Company</a>
            </div>
        </div>
    </div>

    <!-- javascript -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/semantic/semantic.min.js"></script>
    <script src="javascript/main.js"></script>
</body>

</html>
