<% layout('layout') -%>

<style type="text/css">
	.content {
		max-width: 500px;
	}
</style>


	<div class="content">
		<% if (typeof(error) !== 'undefined')  { %>
			<div class="ui warning message">
			  <i class="close icon"></i>
		  	<div class="header"><%= error %> </div> </div>
		<% } %>

		<form id="edit_form" action="/editUser" method="post">
			<div class="ui form">
				<div class="required field">
					<label>用户名</label>
					<div class="ui left icon input">
		        	  <input type="text" placeholder="Username" id="loginname" name="loginname" value="<%= current_user.loginname %>" disabled="disabled">
			          <i class="user icon"></i>
			        </div>
				</div>
				<h4 class="ui horizontal divider header"><i class="tag icon"></i> 修改详细资料 </h4>
				<div class="three fields">
					<div class="field">
						<label>员工编号</label>
						<input type="text" placeholder="employee ID" id="employid" name="employid" disabled="disabled" value="<%= current_user.employid %>">
					</div>
					<div class="field"><label>姓名</label>
						<input type="text" placeholder="name" id="name" name="name" value="<%= current_user.name %>"></div>
						
					<div class="field"><label>邮箱</label>
						<input type="text" placeholder="e-mail" id="email" name="email" value="<%= current_user.email %>"></div>
						
				</div>

				<div class="two fields">
					<div class="field">
						<label>职位</label>
						<input type="text" placeholder="position" id="position" name="position" value="<%= current_user.position %>">
					</div>
					<div class="field">
						<label>部门</label>
						<select class="ui dropdown" id="department" name="department" value="<%= current_user.department %>">
							<option value="销售部门">销售</option>
							<option value="采购部门">采购</option>
							<option value="库管部门">库管</option>
						</select>
					</div>

				</div>

				<div class="fields">
					<div class="six wide field">
						<label>工作电话</label>
						<input type="text" placeholder="phone" id="phone" name="phone" value="<%= current_user.phone %>">
					</div>
					<div class="ten wide field">
						<label>办公地点</label>
						<input type="text" placeholder="location" id="office" name="office" value="<%= current_user.office %>">
					</div>
				</div>

				<button class="ui secondary button large" style="margin-left: 150px" type="submit">Okay </button>
				<a class="ui button large" href="/">Cancel </a>

			</div>
		</form>
	</div>
	
