<% layout('layout') -%>

<div class="ui ordered steps">
  <div class="active step">
    <div class="content">
      <div class="title">新增销售单</div>
      <div class="description">填入销售单基本信息</div>
    </div>
  </div>
  <div class="step">
    <div class="content">
    	<a href="/sale">
      <div class="title">补充明细</div>
      <div class="description">填入销售单详细内容</div></a>
    </div>
  </div>
</div>
<div class="content">
	<% if (typeof(error) !== 'undefined')  { %>
		<div class="ui warning message">
		  <i class="close icon"></i>
	  	<div class="header"><%= error %> </div> </div>
	<% } %>

	<form action="/addSellOrder" method="post">
		<div class="ui form">
			<div class="field">
				<label>单据名称</label>
	        	  <input type="text" id="sinName" name="sinName">
			</div>
			<div class="field">
				<label>业务人员编号</label>
	        	  <input type="text" id="empId" name="empId">
			</div>
			<div class="field">
				<label>业务人员</label>
	        	  <input type="text" id="empName" name="empName">
			</div>
			<div class="field">
				<label>备注</label>
	        	<input type="text" id="remark" name="remark">
			</div>
			<div class="field">
				<label>合计金额</label>
	        	<input type="text" id="totalMoney" name="totalMoney">
			</div>

			<button class="ui orange button large" type="submit" name="submit">确认 </button>
			<a class="ui button large" href="/sale">取消 </a>

		</div>
	</form>
</div>

<% block('addSellOrder').append('<script src="javascript/addSellOrder.js"></script>') %>