<% layout('layout') -%>


<style type="text/css">
	#users_list , #query{
		margin-left: -100px;
		margin-top: 10px;
		margin-right: 20px;
	}

	#pagination {
		margin-top: 10px;
		margin-left: -100px;
	}

  #deleteUserMsg .content p{
    text-align: center;
  }


</style>
	<form id="query_users" method="post" action="/users">
		<div id="query" class="ui grid">

				<div class="four wide column">
					<label>用户名：</label>
				    <div class="ui input">
				        <input type="text" placeholder="Seach..." name="username">
				    </div>
				</div>

				<div class="four wide column">
					<label>员工号：</label>
				    <div class="ui input">
				        <input type="text" placeholder="Seach..." name="employid">
				    </div>
				</div>
		
				<div class="five wide column">
					<label>姓名：</label>
				    <div class="ui input">
				        <input type="text" placeholder="Seach..." name="name">
				    </div>
				</div>

				<div class="four wide column">
					<label>部门：</label>
					<select class="ui search dropdown" name="department">
						<option value="all">all</option>
						<option value="销售部门">销售部门</option>
						<option value="采购部门">采购部门</option>
						<option value="库管部门">库管部门</option>
					</select>


				</div>

					<div class="six wide column">
				    <select name="rights" multiple="" class="ui fluid dropdown" placeholder="xxx">
				        <option value="user_management" name="user_management">用户管理</option>
				        <option value="warehouse_management" name="warehouse_management">库存管理</option>
				        <option value="sale_management" name="sale_management">销售管理</option>
				        <option value="purchase_management" name="purchase_management">采购管理</option>
				    </select>
				</div>
				<div class="two wide column">
					<button class="ui primary button" type="submit"><i class="icon search"></i>查找</button>
				</div>
				

		</div>
	</form>


<div id="users_list">
<% if(typeof(msg) !== 'undefined') { %>
	<div class="ui success message">
	  <i class="close icon"></i>
	  <div class="header"><%= msg %> </div>
	</div>

<% } %>
<table class="ui striped table selectable celled structured ">
    <thead>
        <tr>
        	<th rowspan="2"></th>
            <th rowspan="2">用户名</th>
            <th rowspan="2">员工号</th>
            <th rowspan="2">姓名</th>
            <th rowspan="2">邮箱</th>
            <th rowspan="2">职位</th>
            <th rowspan="2">部门</th>
            <th rowspan="2">电话</th>
            <th rowspan="2">办公室</th>
            <th colspan="4" class="center aligned">管理权限</th> 
            <th rowspan="2">操作</th>
        </tr>
        <tr>
            <th>用户</th>
            <th>销售</th>
            <th>仓库</th>
            <th>采购</th>
		 </tr>
       

    </thead>
    <tbody>
         <%- partial('../users/list', {collection: users, as: 'user'})%>
    </tbody>
     <tfoot class="full-width">
    <tr>
      <th><div class="ui checkbox">
            <input type="checkbox" name="checkAll" id="checkAll">
            <label></label>
        </div></th>
      <th colspan="13">
        <a class="ui right floated small primary labeled icon button" href="/addUser">
          <i class="user icon"></i> Add User
        </a>
        <a class="ui small disabled button" id="deleteMulti">
          批量删除
        </a>
      </th>
    </tr>
  </tfoot>
</table>

	
</div>
<div class="ui pagination menu" id="pagination">
<!-- 	<a class="icon item">
          <i class="left chevron icon"></i>
        </a>
   
<a class="icon item">
          <i class="right chevron icon"></i>
        </a> -->
</div>



<div class="ui basic modal" id="deleteUserMsg">
 <i class="close icon"></i>
<div class="ui icon header"><i class="archive icon"></i>删除用户 </div>
  
   <div class="content">
    <p>是否删除某个用户</p>
  </div>
    <div class="actions">
      <div class="ui red basic cancel inverted button"><i class="remove icon"></i> No </div>
      <div class="ui green ok inverted button"><i class="checkmark icon"></i> Yes </div>
    </div>
</div>

<input hidden="true" name="pageNumber" value="<%= totalPageNum %>"></input>
<% block('userlist').append('<script src="javascript/users.js"></script>') %>